@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    padding: 0;
    margin: 0;
}

/* variables */
:root{
    --angle : 30deg;
}


body{
    background-color: rgba(31, 3, 59, 0.7);
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  
}
#container{
    position: relative;
    background-color: whitesmoke;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 10px;
    transition: 1s;
    z-index: 40;
}
/* one page content  */
#content{
    width: 90%; 
    margin: auto;
    min-height: 100vh;
}
#nav-icon{
    background-color: yellow;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-solid{
    font-size: 20px;
    transition: 1s;
}
.fa-solid:hover{
    transform: rotate(90deg);
}
/* title */
#nav-title{
    font-size: 20px;
    margin: auto;
    transform: translateX(-5px);
}
#nav-list{
    background-color:rgb(255, 174, 0);
    position: absolute;
    top:100%;
    width: 100%;
    z-index: 100;
    display: flex;
    transition: 1s;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}
/* nav item color */
.nav-item{
    color: black;
    padding: 2px;
}
#comp-description{
    width: 90%;
    margin: auto;
    margin-top: 60px;
    /* background-color: rgba(240, 248, 255,0.2); */
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* comp jpg*/
#comp-img{
    width: 320px;
    border: 8px solid whitesmoke;
    filter: grayscale(50%);
    transition: 2s;
    transform: rotate(var(--angle));
    z-index: 30;
}
#comp-img:hover{
    transform: rotate(0deg);
}
/* comp title */
#comp-title{
    font-size: 30px;
    background-color:rgb(255, 255, 255);
    padding: 5px;
}
/* cpu svg */
#cpu-svg{
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    align-items: center;

    padding: 0px;
    background-color: rgb(29, 44, 44,0.6);
    z-index: 500px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.071);
    opacity: 1;
}
#cpusvg-title{
   padding-top: 20px;
   padding-bottom: 0px;
   font-size: large;
   background-color:rgba(255,255,255);
   color:black;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px;
   border-radius: 3px;
   margin:10px;
   width: 60px;
}
#cpusvg-title:hover{
    background-color: rgba(255, 255, 0);
    scale: (1.5);
}
#cpu-object{
    height: 300px;
    padding-top: 40px; 
}

